<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ping Zou">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    {% block css %}{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-bootstrap/0.27.2/react-bootstrap.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    {% block preload_js %}{% endblock %}

    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div>
    <!-- nav bar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hornbook_main_navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Horn Book</span>
          </div>
          <div class="collapse navbar-collapse" id="hornbook_main_navbar">
            <ul class="nav navbar-nav">
              <li id="nav_hanzi" ><a href="/study/">认字</a></li>
              <li id="nav_writing" ><a href=#>写字</a></li>
              <li id="nav_poen" ><a href=#>古诗</a></li>
              <li role="separator" class="divider"></li>
              <li id="nav_new_list" ><a href=#><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href=# style="color: black">{{user.username}}</a></li>
              {% if user.is_authenticated %}
              <li><a href='/accounts/logout/'>Log out</a></li>
              {% else %}
              <li id="nav_accounts" ><a href="/accounts/login/">Log in</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    
      {% block content %}{% endblock %}
    
      <div class="footer">
        <p class="text-center">Copyright © 2013 - 2016 Ping Zou All Rights Reserved </p>
      </div>
    </div>
    {% block js %}{% endblock %}
  </body>
</html>  