{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}HornBook{% endblock %}

{% block css %}
<link href="{% static "css/main.css"%}" rel="stylesheet" type="text/css" media="all"/> 
{% endblock %}

{% block preload_js %}
<script data-require="jquery@*" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{% static "js/notify.js"%}"></script>
{% endblock %}

{% block content %}
<div id="content" category={{ category }}>  
</div>  
{% endblock %}

{% block js %}
<script type="text/babel" src="{% static "js/script.js"%}"></script>
{% endblock%}