{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}

<h1>Sign in to Hornbook</h1>

<div class="row">
  <div class="col-lg-5 col-md-5 col-sm-5">
    <form method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn btn-info" type="submit">Sign in</button>
      <a href="{% url 'account_reset_password' %}">Forgot your password?</a>
    </form>
  </div>

  <div class="col-lg-7 col-md-7 col-sm-7">
    <p>New to Hornbook? <a href="{{ signup_url }}">Click here to join</a></p>
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
      <p>Or Sign in with one of these:</p>
      <div>        
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        {% include "socialaccount/snippets/login_extra.html" %}
      </div>
      {% endif %}
  </div>
</div>

{% endblock %}
