{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}HornBook{% endblock %}

{% block css %}
<link href="{% static "css/bundle.css"%}" rel="stylesheet" type="text/css" media="all"/> 
{% endblock %}

{% block preload_js %}
{% endblock %}

{% block content %}
<div id="app" data-username={{user.username}} data-loggedIn={{user.is_authenticated}}></div>  
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static "js/bundle.js"%}"></script>
<!--<script src="http://192.168.0.14:8080/target/target-script-min.js#anonymous"></script>-->
{% endblock%}